
.cheese__list__container{
  max-width: 100vw;

}
.cheese__card__container{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  .cheese__card {
    align-items: center;
    box-shadow: 5px 8px 3px $darkyellow;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin: 4rem 1rem;
    & h2{
      background-color: $yellow;
      height: 6vh;
      margin-top: -0.2rem;
      width: 100%;
    }
  }
  .cheese__card_img {
    height: 90%;
    width: 90vw;}
  /////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////

  .cheese__item{
    align-items: center;
    background-image: url(../../images/fondo.png);
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
}
.cheese__item__title{
  font-family: "Satisfy";
  font-size: 3rem;
}
.cheese__item__card{
  align-items: center;
  background-color: rgba($color: $lightyellow, $alpha: 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cheese__item__data{
      align-items: center;

      display:flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      list-style: none;
      margin: 2rem 3rem;
}
.cheese__item__data__description{
  background-color: $darkyellow;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
}
.cheese__item__data__link{
  align-items: baseline;
  background-color: $lightyellow;
  color: darken($color: $darkyellow, $amount: 60);
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 0.5rem 2rem;
  width: 6rem;
}
.cheese__item__data__link__icon{
  width: 1rem;
}
