
.cheese__container{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cheese__list__container{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100vw;
}
.cheese__card__title{
  margin-top: 2rem;
}
.cheese__card__container{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  .cheese__card {
    align-items: center;
    background-color: $yellow;
    box-shadow: 5px 8px 3px grey;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin: 2rem 1rem;
    & h2{
      height: 2rem;
      width: 100%;
    }
  }
  .cheese__card_img {
    height: 90%;
    width: 90vw;}
  /////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////

  .cheese__item{
    align-items: center;
    background-image: url(../../images/fondo.png);
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    margin-top: 5rem;
}
.cheese__item__title{
  font-family: "Satisfy";
  font-size: 3rem;

}
.cheese__item__card{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cheese__item__data{
      align-items: center;
      align-self: center;
      display:flex;
      flex-direction: column;
      grid-area:data;
      height: 100%;
      justify-content: space-evenly;
      list-style: none;
      margin: 2rem 3rem;
}
.cheese__item__card__img{
  align-self: center;
  grid-area: image;
}
.cheese__item__data__description{
  align-self: center;
  background-color: $darkyellow;
  grid-area: descript;
  justify-self: center;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
}
.cheese__item__data__link{
  align-items: baseline;
  background-color: $yellow;
  color: darken($color: $darkyellow, $amount: 70);
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 0.5rem 2rem;
  position: fixed;
  top:7.4rem;
  width: 6rem;
  z-index: 99;
}
.cheese__item__data__link__icon{
  width: 1rem;
}


@media (min-width: 700px) {
  .cheese__item{margin-top: 0;}
  .cheese__item__card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:   1fr 1fr;
    grid-template-areas:
          "image data"
          "descript descript";
    margin-top: 2rem;
  }
  .cheese__item__card__img{
    margin-left: 3rem;
    width: 25rem;
  }
  .cheese__card_img{
    height: 15rem;
    width: 20rem;
  }
  .cheese__item__data{
    justify-content: center;
  }
  .cheese__item__data__description{
    width: 30rem;
  }
  .cheese__item__data__link{
    margin-top: 7rem;
  }
}




@media (min-width: 1000px) {
  .cheese__item{
    margin-top: 5rem;
  }
  .cheese__item__card{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2rem;
  }
  .cheese__item__card__img{
    height: 40rem;
    width: 30rem;
  }
  .cheese__item__data__description{
    font-size: 1.3rem;
    margin: 2rem;
    width: 40rem;
  }
  .cheese__item__data{
    margin-top: -7rem;
  }
}



@media (min-width: 1200px) {
  .cheese__item{
overflow: hidden;
  }
.cheese__item__title{
  margin-top: 12rem ;
}
  .cheese__item__card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
          "image data descript";
    margin: 5rem 5rem 0;
}
.cheese__item__card__img{
  height: 24rem;
  width: 25rem;
}
.cheese__item__data__description{
  margin: 2rem;
  width: 20rem;
}
.cheese__item__data{
  margin-top: 0;
  width: 20rem;
  font-size: 1.5rem;
}
.cheese__item__data__link{
  margin-top: 5.7rem;
}

}