input{
    background-color: $lightyellow;
    border:0;
    color: darken($color: $darkyellow, $amount: 55);
    font-size: 1.1rem;
    font-weight: bold;
    width:90vw;
    height: 2rem;
    margin: 0.8rem;
    &:hover{
        border:0;
        border-bottom: 3px solid darken($color: $darkyellow, $amount: 10);
    }
    @media (min-width:700px){
        width: 40vw;
    }
}