.delivery{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    &:hover{
        transform: scale(1.1);
    }
    

    & button{
        background-color:darken($color: $darkyellow, $amount: 60);
        color: $lightyellow;
        width: 20rem;
        height: 4rem;

    }
}