
.menubar{
    background-color: lighten($color: $lightyellow, $amount: 10) ;
    position: sticky;
    top:0;
    width: 100%;
    z-index: 99;

}
.menubar__logo{
    width: 13rem;
};
@media (min-width: 700px) {
    .menubar__logo{
        width: 16rem;
    };
}
@media (min-width: 1200px) {
    .menubar__logo{
        width: 16rem;
    };
}