.__menubar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.menubar__logo{
    width: 10rem;
    position: relative;
    top:9px;
    z-index: 2;
}
.modal__icon__open{
    width: 3rem;
    height: 3rem;
    transition: 0.5s;
    &:hover{
        transform: scale(1.4);
        cursor: pointer;
    }
}
a{
    margin: 1rem;
    color:$dark
}