.__menubar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.menubar__logo{
    width: 12rem;
    position: relative;
    top:5px;
    right: 3rem;
    z-index: 2;
}
.modal__icon__open{
    width: 3rem;
    height: 3rem;
    transition: 0.5s;
    &:hover{
        transform: scale(1.4);
        cursor: pointer;
    }
}
a{
    margin: 1rem;
    color:$dark
}

@media (max-width:500px){

    .__menubar {
        align-items: center;
        display: flex;
        flex-direction: column;

}
.menubar__logo{
    width: 12rem;
    position: static;

}
}