
  .modal__container {
    width: 60%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
    text-align: center;
    z-index:10;

 }
 .modal__container .modal__box {
  background:darken($color: $yellow, $amount: 85);
  color: $primary;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  & header{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
  }
  & ul{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
  }
}
.modal__container__cheese{
  background:darken($color: $yellow, $amount: 85);
    font-size: 1.5em;
    text-align: center;
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;

}
.modal__container__cheese .modal__box__cheese{
  position: relative;
  top:50%;
  left: 25%;
  color: $primary;
  opacity: 0.9;
  text-align: center;
  z-index:10;
  height: 10%;
  width: 50%;
}
.modal__icon__close{
  transition: 0.2s;
   &:hover{
      font-weight: bolder;
      transform: scale(1.2)
   }
}
.modal__box li{
  transition: 0.3s;
  &:hover{
    background-color: darken($color: $darkyellow, $amount: 70);
    transform: scale(1.4);
  }
}