@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
   box-sizing: border-box;
   font-family:  "Roboto", Helvetica,Arial, sans-serif; 
   margin: 0;
   padding: 0;

}
html,body{
    background-color: lighten($color: $lightyellow, $amount: 10) ;
    height: auto;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    text-align: center;
    width: 100vw;

}
h1{
     font-family: "Satisfy";
     font-size: 2.5rem;
     margin-right: 5rem; 
}
p,h5{
    text-align: start;
}
a{
    color:black;
    font-style: italic;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;

}
ul{
    list-style: none;
}


.link{
    color:$lightyellow;
    font-size: 2rem;
}

.mt-1{
    margin-top: 0.3rem;
}
.mt-5{
    margin-top: 1.25rem;
}
.mb-1{
    margin-bottom: 0.3rem;
}
.mb-5{
    margin-bottom: 1.25rem;
}
.pointer{
    cursor: pointer;
}
